@charset "UTF-8";

div.context_box {
	width:1000px;
	height:200px;
	
	border:1px solid;
	border-radius : 0px 0px 20px 20px;
	
	background-color: white;
	box-shadow: 3px 3px 3px gray;
	
	margin:auto;
	
	cursor:pointer;
}
.inner_context_box_title {
	width:1000px;
	height:60px;
	line-height:60px;
		
	border-right:1px solid black;
	
	font-size:1.5em;
	color:white;
	background-color: #738fe5;
	
}
.inner_context_box_subject {
	width:1000px;
	height:auto;
	
	padding:10px;
}
.new_post {
	box-shadow: 3px 3px 3px gray;
	background-color:white;
}
.table_div {
	background-color: white;
	box-shadow: 5px 5px 5px gray;
}
.banner_cover {
	position:absolute;
	
	top:0px;
	left:200px;
	
	height:400px;
	width:700px;
	
	max-height:400px;
	max-width:700px;
	
	overflow:hidden;
	
	border-radius : 0px 0px 20px 20px;
	
}
.icon_cover {
	position:absolute;
	
	top:370px;
	left:180px;
}
.backgr_div{
	width: 100%;
	height: 100%;
	position: relative;
	justify-content:center;
	
	background:radial-gradient( rgba(115, 143, 229, 0.5), rgba(0, 0, 0, 0.05));
}
.inner_container {
	width:80%;
	padding:10px;
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.aa{
	width:50%;
}
.search_div {
	height:80%;
	width:80%;
	background-color:rgba(248, 248, 248, 0.3);
}
.search_inner_div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


img.banner_image {
	width:100%;
	position: absolute;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.icon_image {
	border-radius : 50%;
	border : solid 8px;
	border-color : white;
	width : 100px;
	height : 100px;
}
.banner_background {
	width:1110px;
	height:500px;
	object-fit:cover;
	background:linear-gradient(to bottom right, pink, #738fe5);
}
.like_image {
	width:40px;
	cursor:pointer;
}
.backgr_img{
	width: 400px;
	height: auto;
	opacity:0.3;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.search_icon {
	border-radius : 50%;
	border : solid 5px;
	border-color : white;
	width : 60px;
	height : 60px;
}


h3.sign_board {
	background-color:#738fe5;
	
	color:white;
	
	height:60px;
	line-height:60px;
}


thead.context {
	 color:white;
	 background-color: #738fe5;
	 font-size:1.5em;
}
.search_thead {
	color:white;
	background-color: #545454;
	font-size:1.5em;
}


td.context {
	height:300px;
}
.search_td {
	text-align: center;
	vertical-align: middle;
	margin: auto;
	
	font-size:1.2em;
	color:black;
	
	cursor:pointer;
}
